<h1><%= @questionnaire.name %></h1>

<% @questionnaire.questions.each do |question| %>
  <h2><%= question.name %></h2>

  <% case question.question_type %>
  <% when 'single_choice' %>
    <% question.answers.each do |answer| %>
      <p>
        <%= radio_button_tag question.id, answer.id %>
        <%= answer.name %>
      </p>
    <% end %>
  <% when 'multiple_choice' %>
    <% question.answers.each do |answer| %>
      <p>
        <%= check_box_tag question.id, answer.id %>
        <%= answer.name %>
      </p>
    <% end %>
  <% when 'long_answer' %>
    <%= text_area_tag question.id %>
  <% when 'satisfaction' %>
    <table>
      <tr>
      <% question.answers.each do |answer| %>
        <td>
          <%# radio_button_tag question.id, answer.id %>
          <%= answer.name %>
        </td>
      <% end %>
      </tr>
      <tr>
      <% question.answers.each do |answer| %>
        <td>
          <%= radio_button_tag question.id, answer.id %>
          <%# answer.name %>
        </td>
      <% end %>
      </tr>
    </table>  
  <% when 'date' %>
    <%= date_field_tag question.id %>
  <% when 'time' %>
    <%= time_field_tag question.id %>
  <% when 'drop_down_menu' %>
    <%= select_tag question.id %>
      <%= question.answers.each do |answer| %>
        
          <%= answer.name %>
        
      <% end %>
  <% when 'range' %>
    <%= range_field_tag question.id %>  
  <% when 'file' %>
    <%= file_field_tag question.id %>  
  <%# when 'image' %>
    <%# image_tag question.id %>  
  <% end %>
<% end %>

<div>
<%= link_to 'New Response', new_questionnaire_response_path(@questionnaire) %>
<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %>
<%= link_to 'Back', questionnaires_path %>
</div>

